
<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Usuarios
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid fixed>
    <ion-row class="title">
      <ion-col size="3">Userid</ion-col>
      <ion-col size="3">Clave</ion-col>
      <ion-col size="3">Rol</ion-col>
      <ion-col size="3">Opciones</ion-col>
    </ion-row>

    <ion-row *ngFor="let usuario of usuarios; index as i">
      <ion-col size="3">{{ usuario.userid}}</ion-col>
      <ion-col size="3">{{usuario.clave}}</ion-col>
      <ion-col size="3">{{usuario.rol}}</ion-col>
      <ion-col size="3"><ion-button size="small"class="ion-padding-rigth"(click)="edit(i)">Editar</ion-button>
         <ion-button size="small" color="danger" class="ion-padding-rigth"(click) = "delete(i)">Borrar</ion-button>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-button shape="round" (click)="nuevoUsuario()">Nuevo Usuario</ion-button>
  

  
</ion-content>