<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Usuarios
    </ion-title>
   
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <ng-container matColumnDef="userid">
      <th mat-header-cell *matHeaderCellDef>UserId</th>
      <td mat-cell *matCellDef="let element; let i = index">{{element.userid}}</td>
    </ng-container>
   
    <ng-container matColumnDef="clave">
      <th mat-header-cell *matHeaderCellDef>Clave</th>
      <td mat-cell *matCellDef="let element">{{element.clave}}</td>
    </ng-container>

    <ng-container matColumnDef="rol">
      <th mat-header-cell *matHeaderCellDef>Rol</th>
      <td mat-cell *matCellDef="let element">{{element.rol}}</td>
    </ng-container>

    <ng-container matColumnDef="opciones">
      <th mat-header-cell *matHeaderCellDef> Opciones </th>
      <td mat-cell *matCellDef="let element; let i = index" class="action-link"> 
        <a (click)="openDialog(i)">Edit</a> | 
        <a (click)="delete(i)">Delete</a>  
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayColumn"></tr>
    <tr mat-row *matRowDef="let row; columns: displayColumn; let i = index"></tr>
  </table>

  <ion-button id="open-modal" shape="round">Nuevo Usuario</ion-button>
  <ion-modal trigger="open-modal">
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-title>Nuevo Usuario</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding">
        <form [formGroup]="usuarioForm">
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-input placeholder="UserId" formControlName="userid"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-input placeholder="Clave" formControlName="clave"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>

            <ion-row>
              <ion-col>
                <ion-item>
                  <ion-input placeholder="rol" formControlName="rol"></ion-input>
                </ion-item>
              </ion-col>
            </ion-row>
          </ion-grid>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-button shape="round" (click)="cancelar()">Cancelar</ion-button>
              </ion-col>
              <ion-col>
                <ion-button shape="round" (click)="enviar()">
                  Enviar
                </ion-button>
              </ion-col>
            </ion-row>
          </ion-grid>
        </form>
      </ion-content>
    </ng-template>
</ion-modal>
  
</ion-content>
